*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
html,body{
    height: 100%;
    width: 100%;
}
#center{
    position: absolute;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    /* border: 2px solid black; */
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
}
.imagediv{
    height: 100px;
    width: 100px;
    position: absolute;
    overflow: hidden;
}
.imagediv img{
    transform: translateY(100%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
